<div id="<%= dom_id client %>">
  <p>
    <strong>Cliente:</strong>
    <%= client.client_name %>
  </p>

  <p>
    <strong>RFC:</strong>
    <%= client.client_rfc %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= client.phone %>
  </p>

</div>
