<p style="color: green"><%= notice %></p>

<h1 class='title is-1'>Clientes</h1>

<div id="clients">
  <% @clients.each do |client| %>
    <%= render client %>
    <p>
      <%= link_to "Detalles", client %>
    </p>
  <% end %>
</div>

<div id='submit-btn' class='button is-info'>
<%= link_to "Nuevo Cliente", new_client_path %>
</div>